-i https://pypi.org/simple/
alembic==1.5.7
click==7.1.2
dnspython==2.1.0
email-validator==1.1.1
flask-login==0.5.0
flask-migrate==2.5.3
flask-sqlalchemy==2.4.3
flask-wtf==0.14.3
flask==1.1.2
greenlet==1.0.0 ; python_version >= '3'
gunicorn==20.0.4
idna==3.1
itsdangerous==1.1.0
jinja2==2.11.3
mako==1.1.4
markupsafe==1.1.1
psycopg2==2.8.5
python-dateutil==2.8.1
python-editor==1.0.4
six==1.15.0
sqlalchemy==1.4.2
werkzeug==1.0.1
wtforms==2.3.3
