body 
{
font-family: Noto sans, sans-serif;
font-size: 18pt;
background: linear-gradient(#fb3, #9370DB);
color: #333;
font-weight: 600;
}

h1 
{
  color: #000000;
  font-size: 23pt;
  font-family: Noto sans, sans-serif;
  margin-left: 120px;
  margin-right: 120px;
  margin-top: 120px;
  margin-bottom: 120px;
  font-weight: bold;
}

h2
{
  color: #000000;
  font-family: Noto sans, sans-serif;
  text-align: center;
  margin-top: 65px;
}
p 
{
  text-align: left;
  margin-left: 200px;
  margin-right: 200px;
  margin-top: 50px;
  margin-bottom: 120px;
  border-top: 5px solid;
}

div 
{
margin-bottom: 15px;
padding: 5px 25px 10px 25px;
}

.d-block 
{
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 150px;
}
.button 
{
border:1px solid #ccc; // рамка
background:#eaeaea; //фон
padding: .2em .75em; //отступы внутри
text-decoration: none; //убрать подчеркивание ссылки
}
