body 
{
font-family: Noto sans, sans-serif;
font-size: 18pt;
background-color: #A9A9A9;
color: #333;
font-weight: 600;
}

h1 
{
color: #000000;
font-size: 23pt;
font-family: Noto sans, sans-serif;
margin-left: 60px;
font-weight: bold;
}

h2
{
  color: #000000;
  font-family: Noto sans, sans-serif;
  text-align: center;
  margin-top: 65px;
}
p 
{
  text-align: left;
  margin-left: 120px;
  margin-right: 120px;
  margin-top: 120px;
  margin-bottom: 120px;
  border-top: 5px solid;
  padding-left: 10px;
}
div 
{
margin-bottom: 15px;
padding: 5px 25px 10px 25px;
}


.button 
{
border:1px solid #ccc; // рамка
background:#eaeaea; //фон
padding: .2em .75em; //отступы внутри
text-decoration: none; //убрать подчеркивание ссылки
}