.yellow-bgtheme
{
font-family: Noto sans, sans-serif;
font-size: 18pt;
background: linear-gradient(#fb3, #9370DB);
color: #333;
font-weight: 600;
}
.green-bgtheme
{
  font-family: Noto sans, sans-serif;
  font-size: 18pt;
  background: linear-gradient(#5F9EA0, #3CB371);
  color: #333;
  font-weight: 600;
}
.navbar
{
  background-color: #373540;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.6);
}

body
{
  font-size: 24px;
}
h1 
{
  color: #000000;
  font-size: 23pt;
  font-family: Noto sans, sans-serif;
  margin-left: 120px;
  margin-right: 120px;
  margin-top: 120px;
  margin-bottom: 120px;
  font-weight: bold;
}

h2
{
  color: #000000;
  font-family: Noto sans, sans-serif;
  text-align: center;
  margin-top: 65px;
}
p 
{
  border-top: 5px solid;
}

div 
{
margin-bottom: 15px;
padding: 5px 25px 10px 25px;
}
img {max-width: 100%;}
.content
{
  text-align: left;
  margin: 0px auto;
  max-width: 1200px;
  font-size: 1.25rem;
}

.d-block 
{
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 150px;
}
.flexy-img 
{
  object-fit: cover;
  width: auto;
  height: auto;
}

@media (max-width: 1200px)
{
  .content
  {
    max-width: 970px !important;
    font-size: 1.2rem;
  }
  .flexy-img
  {
    width: auto !important;
    height: 150%;
  }

}
@media (max-width: 885px)
{
  .content
  {
    max-width: 750px !important;
    font-size: 1.1rem;
  }
  .flexy-img
  {
    width: auto !important;
    height: auto !important;
  }
}
@media (max-width: 767px)
{
  .content
  {
    max-width: none !important;
    font-size: 1rem;
  }
  .flexy-img
  {
    width: auto !important;
    height: auto !important;
  }
}

