{% extends "layout.html" %}
{% block title %}
<title>About project | 1Order</title>
{% endblock %}
{% block body %}
<div>
	<p class="content" style="margin-top: 160px">
		1 Order это информационный веб-сайт, создаваемый в рамках курса cs50 Introduction to Computer Science. С помощью нашего информационного ресурса вы сможете ознакомиться с историей и принципом работы децентрализованных систем "Blockchain" и исновами приобретения и пользования криптовалютой. В нашей перспективе появление открытого форума на тему децентрализованных технологий. 1 Order это информационный веб-сайт, создаваемый в рамках курса cs50 Introduction to Computer Science. С помощью нашего информационного ресурса вы сможете ознакомиться с историей и принципом работы децентрализованных систем "Blockchain" и исновами приобретения и пользования криптовалютой. В нашей перспективе появление открытого форума на тему децентрализованных технологий, рекламное развитие сайта.
		<br>
	</p>
	<p class="content" style="margin-top: 160px">
		1 Order is an information website created as part of the cs50 Introduction to Computer Science course. Using our information resource, you can familiarize yourself with the history and principle of operation of the decentralized "Blockchain" systems and the basics of acquiring and using cryptocurrency. In our perspective, the emergence of an open forum on the topic of decentralized technologies, advertising development of the site.
	</p>
</div>
{% endblock %}

