{% extends "layout.html" %}
{% block title %}
<title>About project | 1Order</title>
{% endblock %}
{% block body %}
<div>
	<p class="content" style="margin-top: 160px">
		1 Order это информационный веб-сайт, создаваемый в рамках курса cs50 Introduction to Computer Science. С помощью нашего информационного ресурса вы сможете ознакомиться с историей и принципом работы децентрализованных систем "Blockchain" и исновами приобретения и пользования криптовалютой. В нашей перспективе появление открытого форума на тему децентрализованных технологий. 1 Order это информационный веб-сайт, создаваемый в рамках курса cs50 Introduction to Computer Science. С помощью нашего информационного ресурса вы сможете ознакомиться с историей и принципом работы децентрализованных систем "Blockchain" и исновами приобретения и пользования криптовалютой. В нашей перспективе появление открытого форума на тему децентрализованных технологий, рекламное развитие сайта.

	</p>

	<p class="content" style="margin-top: 160px">
		Ближайшие цели - 1<br>
		<br>
		Цели для недалекого будущего - 2<br>
		<br>
		Цели далекого будущего - 3<br>
		<br>
		<br>

		1.1 - создание roadmap<br>
		<br>
		1.2 - заполнение всех страниц веб-сайта авторским текстом<br>
		<br>

		1.3 - submit проекта в cs50<br>
		<br>
		1.4 - дополнительная frontend стилизация<br>
		<br>
		1.5 - добавление тематического форума<br>
		<br>


		2.1 - распространение веб-сайта посредством рекламы и подключения систем продвижения в поисковиках<br>
		<br>
		2.2 - расширение на платный тариф на Heroku<br>
		<br>
		2.3 - добавление активности относительно пользовательских профилей<br>
		<br>


		3.1 - создание собственного ico и криптовалюты <br>
		<br>

	</p>
	<p class="content" style="margin-top: 160px">
		Технические характеристики сайта:<br>
		<br>
		Язык программирования Python 3.7.2<br>
		<br>
		Микрофреймворк Flask<br>
		<br>

		Фронтенд фреймворк Bootstrap<br>
		<br>
		Хостинг сервисы: PythonAnywhere и Heroku
		<br>
	</p>
	<p class="content" style="margin-top: 160px">
		1 Order is an information website created as part of the cs50 Introduction to Computer Science course. Using our information resource, you can familiarize yourself with the history and principle of operation of the decentralized "Blockchain" systems and the basics of acquiring and using cryptocurrency. In our perspective, the emergence of an open forum on the topic of decentralized technologies, advertising development of the site.
	</p>
	<p class = "content" style = "margin-top: 160px">
		Nearest targets - 1 <br>
		<br>
		Goals for the near future - 2 <br>
		<br>
		Distant Future Goals - 3 <br>
		<br>
		<br>

		1.1 - creating a roadmap <br>
		<br>
		1.2 - filling all pages of the website with the author's text <br>
		<br>

		1.3 - submit a project to cs50 <br>
		<br>
		1.4 - additional frontend styling <br>
		<br>
		1.5 - adding a thematic forum <br>
		<br>


		2.1 - spreading the website through advertising and connecting promotion systems in search engines <br>
		<br>
		2.2 - extending paid plan on Heroku <br>
		<br>
		2.3 - adding activity regarding user profiles <br>
		<br>


		3.1 - creating your own ico and cryptocurrency <br>
		<br>

	</p>
	<p class = "content" style = "margin-top: 160px">
		Site specifications: <br>
		<br>
		Python 3.7.2 Programming Language <br>
		<br>
		Flask microframework <br>
		<br>

		Bootstrap frontend framework <br>
		<br>
		Hosting services: PythonAnywhere and Heroku
		<br>
	</p>
</div>
{% endblock %}

