<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Login | 1Order</title>
  
  <link rel='stylesheet prefetch' href='http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css'>
  <link rel='stylesheet prefetch' href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900&subset=latin,latin-ext'>
  <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='stylelogin.css') }}">

  
</head>

<body>
  <div class="materialContainer">


   <div class="box">
      <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <div class="title">LOGIN</div>

        <div class="input">
           <label for="name">Username</label>
            {{ form.username.label }}<br>
            {{ form.username(size=32) }}<br>
            {% for error in form.username.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
           <span class="spin"></span>
        </div>

        <div class="input">
           <label for="pass">Password</label>
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}<br>
            {% for error in form.password.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
           <span class="spin"></span>
        </div>

        <div class="button login">
           <button><span>GO</span> <i class="fa fa-check"></i></button>
        </div>
      </form>
      <a href="" class="pass-forgot">Forgot your password?</a>

   </div>

   <div class="overbox">
      <form action="" method="post" novalidate>
        <div class="material-button alt-2"><span class="shape"><input type="hidden" name="swbutton" value="regpage"></span></div>
      </form>
      <form action="" method="post" novalidate>
        
        {{ form.hidden_tag() }}
        <div class="title">REGISTER</div>

        <div class="input">
           <label for="regname">Username</label>
            {{ form.username.label }}<br>
            {{ form.username(size=32) }}<br>
            {% for error in form.username.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
           <span class="spin"></span>
        </div>

        <div class="input">
           <label for="regpass">Password</label>
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}<br>
            {% for error in form.password.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
           <span class="spin"></span>
        </div>

        <div class="input">
           <label for="reregpass">Repeat Password</label>
            {{ form.password2.label }}<br>
            {{ form.password2(size=32) }}<br>
            {% for error in form.password2.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
           <span class="spin"></span>
        </div>

        <div class="button">
           <button><span>NEXT</span></button>
        </div>
      </form>

   </div>

</div>
    <script src="{{ url_for('static', filename='animation1.js') }}"></script>
</body>
</html>
