{% extends "layout.html" %}
{% block title %}
What is crypto? | 1Order
{% endblock %}
{% block body %}
<h1>
	What is cryptocurrency?
</h1>
<p>
	Начиная с 2010 года мы все чаще и чаще стали слышать слова: криптовалюта, биткойн, блокчейн, децентрализация и т.д. В этой небольшой статье мы постараемся разобраться что такое криптовалюта, откуда она появилась и ее плюсы перед привычными нам всем деньгами.<br>
</p>
<p>
	И так в 2008 году возникла самая старая криптовалюта — биткоин (Bitcoin). Почти пять лет конкуренты использовали алгоритм Bitcoin для создания собственных вариаций его исполнения (альткоинов) которые используются и по сей день.
	Идея криптовалюты возникла благодаря развитию системы безналичных переводов. Главная задача создателя Bitcoin заключалась в разработке технологии, которая даст возможность проводить прозрачные и одновременно анонимные платежи через интернет.
</p>
<p>
	Сложность состояла в том, чтобы оставить конфиденциальной информацию о получателе и плательщике, но позволить предъявлять данные о платеже третьим лицам. В 1983 году был создан алгоритм «слепой подписи», протокол электронной наличности (возможность совершать электронные платежи, аналогично оплате обычными наличными: без обязательного посредничества третьего лица.)В 1997 году  появилась система Hashcash (защита от спама, разработанная Адамом Блэком).
	Интересный факт:Первая покупка за BTC произошла в мае 2010 года - тогда была куплена пицца с доставкой «всего» за 10 000 монет. А через 7,5 лет их можно было продать за $70 млн. Сегодня наблюдается рост этой криптовалюты в геометрической прогрессии, а также периодические взлеты и падения ее курса с периодами сравнительно стабильного.
	Но в чем же все-таки преимущества крипто валюты над деньгами?
	1)Децентрализация
	Большинство криптовалют работают децентрализовано, согласно заложенному в них алгоритму консенсуса*. Они не подчиняются органам государственной власти, а все узлы связи имеют одинаковые права и равны между собой.

	2)Быстрые платежи и необратимость транзакций
	Криптовалютные транзакции имеют высокую скорость обработки. Также, после добавления транзакции в блокчейн, она становится необратимой. Необратимость транзакций позволяет предупредить подделку записей и мошенничество в системе.

	3)Конфиденциальность
	Конфиденциальность —это одно из основных преимуществ криптовалюты. Для использования системы не нужно указывать никаких персональных данных, что позволяет сохранить анонимность и сокрыть свои расходы от всех нежелательных учреждений.

	4)Надежная защита данных
	При оплате покупатель всегда рискует своими личными данными, которые могут быть перехвачены во время оплаты или украдены у продавца, а впоследствии использованы против владельца. В криптовалютных транзакциях продавцу не передаются никакие личные данные, поэтому можно быть уверенным, что информация не попадет в чужие руки.

	5)Не подверженность инфляции**
	В криптовалютах реализован сложный механизм предотвращения инфляции. В частности, в сети Bitcoin инфляция предотвращается несколькими особенностями:
		А) выпуск новых монет происходит строго раз в 10 минут;
		Б) каждые 4 года эмиссия*** монет сокращается вдвое;
		В) ограниченная эмиссия в 21 млн. монет, которая не может быть     изменена.

	Похожие методы существуют в любой криптовалютной сети, что позволяет заранее предсказать, какое количество монет будет существовать в определенный период времени. Более того, не существует контролирующего органа, который бы мог принимать единоличное решение об увеличении выпуска монет.

	*алгоритм консенсуса - механизм, с помощью которого блокчейн сеть достигает консенсуса, согласия

	**инфляция - чрезмерное увеличение количества обращающихся в стране бумажных денег, вызывающее их обесценение.

	***эмиссия - выпуск ценных бумаг, бумажных денег.

	<br>
{% endblock %}